.zero-title {
	background-image: url("../../images/loveTitle.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.zero-shoutout {
	background-image: url("../../images/loveTitle.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
