.five-content {
	background-image: url("../../images/loveContent.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.six-title {
	background-image: url("../../images/loveTitle.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
