.five-content {
	background-image: url("../../images/green.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.six-title {
	background-image: url("../../images/option3.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
