.four-content {
	background-image: url("../../images/green.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.five-title {
	background-image: url("../../images/option2.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
