.three-content {
	background-image: url("../../images/green.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.four-title {
	background-image: url("../../images/option1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
