.one-content {
	background-image: url("../../images/newLife.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.two-title {
	background-image: url("../../images/loveTitle.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
