:root {
  --page-count: 23;
  /* 11 */
  --page-index: 0;
  --page-scroll: 30;
  /* 26 */
}

/* .App {
  text-align: center;
} */

#book-animation {
  height: calc(((var(--page-count) + 2) * var(--page-scroll) * 1vh));
}

.book {
  position: fixed;
  height: 75vmin;
  width: 48vmin;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
  perspective: 1200px;
}

.book.scroll {
  right: 50vw;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.book.page {
  transform-style: preserve-3d;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0% 50%;
  height: 94%;
  width: 94%;
  border-left: 1px solid darkgrey;
  background-color: white;
  border-radius: 5%;
  z-index: calc(((var(--page-count) + 2) - var(--page-index)) * 2);
}

.book.cover {
  border-radius: 5%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: salmon;
}

.page.half {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page.half.front {
  background-color: sienna;
  border-radius: 5%;
}

.page.half.back {
  transform: rotateY(180deg) translateZ(1px);
  background-color: steelblue;
  border-radius: 5%;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  padding: 20px;
}

.scroll-icon {
  display: inline;
}

.scroll-number {
  padding: 0px 5px;
}
