.zero-unlock {
	background-image: url("../../images/blue.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.one-title {
	background-image: url("../../images/option1.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
